:root {
  --primary-color: #c8102e;
  --blue-color: #2d68f8;

  --success-color: #28a745;
  --success-background-light: #d4edda;
  --success-text-dark: #155724;
  --success-border-color: #c3e6cb;

  --btn-color: #637381;
  --btn-background-color: #dfe4ea;

  --text-color-black: #000;
  --text-color-white: #fff;
  --text-color-dark: #333;
  --text-color-dark-secondary: #444;
  --text-color-medium: #555;

  --background-light: #f9f9f9;
  --background-hover-light: #f0f0f0;
  --backdrop-color: rgba(0, 0, 0, 0.6);

  --border-color-light: #e0e0e0;
  --border-color-medium: #ccc;

  --shadow-light: rgba(0, 0, 0, 0.05);
  --shadow-medium: rgba(0, 0, 0, 0.3);

  --primary-color-light: #fcebeb;
  --border-color-light-pink: #fdf2f2;
  --button-disabled-bg: #dde2e7;
  --text-color-light: #8a92a6;

  --pink-button-bg: #f7a7a7;
  --pink-light-bg: #fef0f0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: OpenSans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdthwght.ttf);
}

html,
body {
  height: 100%;
  font-family: OpenSans;
}
