.main {
    background-color: var(--text-color-white);
    flex-grow: 1;
    height: calc(100vh - 64px);
    overflow: auto;
    padding: 24px;
  }
  
  .ant-menu-item, .ant-menu-submenu-title {
    font-size: 14px !important;
    height: 52px !important;
    line-height: 52px !important;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-right: 24px !important;
    padding-left: 24px !important;
  }
  
  .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    font-size: 22px !important;
    margin-right: 16px !important;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ant-menu-sub .ant-menu-item {
    font-size: 13px !important;
    padding-left: 36px !important;
    height: 40px !important;
    line-height: 40px !important;
  }

  .ant-menu-sub .ant-menu-item .anticon {
    font-size: 17px !important;
    min-width: 22px;
    margin-right: 12px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar {
    width: 250px;
    transition: width 0.2s;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    z-index: 1200;
  }
  
  .sidebarCollapsed {
    width: 80px;
  }

  .mainContent {
    flex-grow: 1;
    margin-left: 250px;
    transition: margin-left 0.2s;
    display: flex;
    flex-direction: column;
  }

  .mainContentCollapsed {
    margin-left: 80px;
}

  .appBar {
    z-index: 1100;
    height: 64px;
  }

  .toolbar {
    min-height: 64px !important;
    justify-content: flex-end;
  }

  .userProfile {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .userInfo {
    margin-left: 1rem;
  }

  .content {
    flex-grow: 1;
    margin-top: 64px;
    padding: 24px;
  }

  .toggleButton {
    position: fixed;
    top: 6px;
    z-index: 1300;
    color: var(--text-color-white);
    border-radius: 4px;
    padding: 4px 8px;
  }

  :global(.ant-menu-dark),
:global(.ant-menu-dark .ant-menu-sub),
:global(.ant-menu-dark .ant-menu-submenu) {
  background-color: var(--orange-button-bg) !important;
  height: 100%;
}

:global(.ant-menu-dark .ant-menu-item),
:global(.ant-menu-dark .ant-menu-submenu-title) {
  color: var(--text-color-white) !important; 
  font-weight: 400;
}

:global(.ant-menu-dark .ant-menu-item-selected),
:global(.ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title) {
  background-color: var(--text-color-white) !important;
  color: var(--orange-button-bg) !important;
  border-left: 4px solid var(--orange-button-bg) !important;
}

:global(.ant-menu-dark .ant-menu-item-selected:hover) {
  background-color: var(--orange-medium-bg) !important;
  color: var(--text-color-white) !important;
}

:global(.LayoutAdmin_toggleButton__znIfO) {
  background-color: var(--orange-button-bg) !important;
  color: var(--text-color-white) !important;
  border-radius: 6px !important;
  transition: all 0.3s ease !important;
}

:global(.LayoutAdmin_toggleButton__znIfO):hover {
  background-color: var(--orange-medium-bg) !important;
  color: var(--text-color-white) !important;
}

:global(.MuiPopover-paper) {
  margin-left: 5px;
  margin-top: 8px !important;
  right: 1px;
}

:global(.ant-menu-inline-collapsed-tooltip) {
  display: none !important;
}

:global(.MuiAppBar-root) {
  /* tui ko biết chọn màu nào cho thanh appbar hợp á, sau này sửa vô đây sau -color: ... !important;  */
    border: none;
}