# Currently only stops at ECR, will deploy ECS in future (cost money)
name: Deploy Backend to ECR

on:
  push:
    branches:
      - cloud-setup
    paths:
      - 'backend/**'

env:
    AWS_REGION: ap-southeast-1
    ECR_REPOSITORY: ie221-backend

jobs:
    build-and-push:
      name: Build and Push Docker Image
      runs-on: ubuntu-latest

      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/IE221-GitHubActionsRole
            role-session-name: IE221-GitHubActionsRole
            aws-region: ${{ env.AWS_REGION }}

        - name: Login to Amazon ECR
          id: login-ecr
          uses: aws-actions/amazon-ecr-login@v2

        - name: Generate image tag
          id: meta
          run: |
            SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)
            echo "IMAGE_TAG=${SHORT_SHA}" >> $GITHUB_OUTPUT

        - name: Build and push image
          uses: docker/build-push-action@v6
          with:
            context: ./backend
            file: ./backend/Dockerfile-prod
            push: true
            provenance: false
            tags: |
              ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:latest
              ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ steps.meta.outputs.IMAGE_TAG }}
            cache-from: type=gha
            cache-to: type=gha,mode=max

        - name: Build summary
          run: |
            echo "### Build Complete :rocket:" >> $GITHUB_STEP_SUMMARY
            echo "- **Repository:** ${{ env.ECR_REPOSITORY }}" >> $GITHUB_STEP_SUMMARY
            echo "- **Tag:** ${{ steps.meta.outputs.IMAGE_TAG }}" >> $GITHUB_STEP_SUMMARY